<div class="users-table-wrap table-responsive">
    <table class="table card-table">
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Поток</th>
            <th>Ассесмент</th>
            <th>Программа</th>
            <th>Направление</th>
            <th>Компетенция</th>
            <th>Результат</th>
            <th>Итоговый уровень развития компетенции</th>
        </tr>

        </thead>
        <tbody>
        {% if data|default(false) %}
            {% for item in data %}
                {% if item.education|default(false) %}
                    {% for education in item.education %}
                        <tr>
                            <td>{{ item.fio }}</td>
                            <td>{{ education.flow }}</td>
                            <td>{{ education.stage }}</td>
                            <td>{{ education.program.name }}</td>
                            <td>{{ education.direction.name }}</td>
                            <td>{{ education.competence.name }}</td>
                            <td>{{ education.result }}</td>
                            <td>{{ education.competence_grow_level }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
<div class="card-footer d-flex align-items-center">
    <p class="m-0 text-muted">Всего результатов: <b id="table_rows_number">{{ data|length }}</b></p>
</div>
